<!-- Template from Pokeapi - https://pokeapi.co/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        AmiiboAPI - A RESTful API for Amiibo
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AmiiboAPI The Amiibo RESTful API">
    <meta name="author" content="Nevin Vu">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/toastr.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicohttps://pokeapi.co/n-16x16.png">
    <link rel="manifest" href="../static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <script src="/static/js/toastr.min.js"></script>
    <script src="/static/js/toast.js"></script>
</head>
<body>
    {% block mainbody %}

    {% endblock mainbody %}
    <hr class="">

    <div class="footer">
        <p>
            Copyright &copy
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>
            ; Coded by <a href="https://github.com/N3evin">Nevin Vu</a>
            <span class="pull-right">
                <iframe src="https://ghbtns.com/github-btn.html?user=N3evin&type=follow"
                        allowtransparency="false" frameborder="0" scrolling="0" width="132" height="20"></iframe>
                <iframe src="https://ghbtns.com/github-btn.html?user=cheatfreak47&type=follow"
                        allowtransparency="false" frameborder="0" scrolling="0" width="152" height="20"></iframe>
            </span>
        </p>
    </div>

</body>
</html>
