{% extends "base.html" %}

{% block mainbody %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <iframe src="https://ghbtns.com/github-btn.html?user=n3evin&repo=amiiboapi&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/faq/">FAQs</a></li>
                <li class="active"><a href="#">Documentation</a></li>
            </ul>
        </div>
    </div>
</div>

<section id="docs">

    <div class="header">

        {% block docstitle %}

        {% endblock docstitle %}

    </div>

    <div class="container">

        <div class="row pad_top">

            <div class="col-sm-3 side-nav">

                <div class="nav-group">

                    <ul class="version-select">

                        {% block docsversionstate %}

                        {% endblock docsversionstate %}

                    </ul>

                    <div class="doc-select hidden-xs">

                        {% block docsnav %}

                        {% endblock docsnav %}
                    </div>

                </div>


            </div>

            <div class="col-sm-9 docs-body">

                <h2 id="info">Information</h2>

                <p class="lead">AmiiboAPI is primarily used for educational purposes.</p>

                <ul>
                    <li>This is a <b>reading-only API</b>. Only HTTP GET method is allowed by this API.</li>
                    <li><b>No authentication</b> is required to use this API. All resources are allowed to access.</li>
                    <li>If you are going to be calling this API regularly. We recommend that you use <b>caching</b> on your system.</li>
                </ul>

                <h2 id="termscondition">Terms & Conditions</h2>
                <p class="lead">By using our API, you hereby accepted the following terms and conditions</p>

                <p>This API has no affiliation with Nintendo or any other companies that own the rights to it.</p>
                <p>Other reports collected by the respective companies that own the rights are not our responsibility.</p>
                <p>User agrees that the use of this API is entirely at user’s own risks.</p>
                <p>You will require your end users to comply with (and not knowingly enable them to violate) applicable law, regulation, and the Terms.</p>
                <p>You will comply with all applicable law, regulation, and third party rights (including without limitation laws regarding the import or export of data or software, privacy, and local laws). You will not use the APIs to encourage or promote illegal activity or violation of third party rights.</p>
                <p>These Terms and Conditions are subject to change without notice, from time to time in our sole discretion.</p>

                {% block docsbody %}

                {% endblock docsbody %}

            </div>

        </div>

    </div>

</section>

<script>

    var sticky = $('.nav-group');
    var docSelect = $('.doc-select');
    var offset = sticky.offset();
    var sideNav = $('.side-nav');
    var navParents = $('.doc-select').children('ul').children('li');
    var doc = $(document);
    var win = $(window);

    function navOps() {

        //check sticky
        if (doc.scrollTop() >= (offset.top - 65)) {

            sticky.addClass('stick');
            sticky.css({
                width: sideNav.width() + 'px',
            });

        } else {

            sticky.removeClass('stick');
            sticky.css({ width: '' });
        }

        navParents.removeClass('active');
        var parent;
        var target;
        var activeParent = $(navParents[0]);
        var scrollTop = win.scrollTop();

        for (var i = 0; i < navParents.length; i++) {

            parent = $(navParents[i]);

            target = $(parent.find('a').attr('href'));

            if (target.offset()) {
                if (scrollTop >= target.offset().top) {
                    activeParent = parent;
                } else {
                    break;
                }
            }
        }

        activeParent.addClass('active');

        var children = activeParent.find('li');
        var child;
        var activeChild;

        children.removeClass('active');

        for (i = 0; i < children.length; i++) {

            child = $(children[i]);
            target = $(child.find('a').attr('href'));

            if (scrollTop >= target.offset().top) {
                activeChild = child;
            } else {
                break;
            }
        }

        if (activeChild) {

            activeChild.addClass('active');
        }
    }

    doc.scroll(function () {

        navOps();
    });

    win.resize(function () {

        navOps();
    });

    navOps();

</script>

{% endblock mainbody %}
