{% extends "base_docs.html" %}
{% block docstitle %}

<h1>AmiiboAPI Documentation</h1>

{% endblock docstitle %}

{% block docsversionstate %}

<li class="active"><a href="#">API</a></li>

{% endblock docsversionstate %}

{% block docsnav %}
<ul>
    <li><a href="#info">Information</a></li>
    <li><a href="#termscondition">Terms & Conditions</a></li>
    <li>
        <hr>
    </li>
    <li><a href="#amiibo">Amiibo</a></li>
    <li><a href="#amiiboType">Amiibo Type</a></li>
    <li><a href="#amiiboGameSeries">Amiibo Game Series</a></li>
    <li><a href="#amiiboSeries">Amiibo Series</a></li>
    <li><a href="#amiiboCharacter">Amiibo Character</a></li>
    <li>
        <hr>
    </li>
    <li><a href="#showGames">Show Games</a></li>
    <li><a href="#showUsage">Show Usage</a></li>
    <li>
        <hr>
    </li>
    <li><a href="#type">Type</a></li>
    <li><a href="#gameSeries">Game Series</a></li>
    <li><a href="#series">Series</a></li>
    <li><a href="#character">Character</a></li>
    <li>
        <hr>
    </li>
    <li><a href="#lastUpdated">Last Updated</a></li>
</ul>
{% endblock %}

{% block docsbody %}
<hr>
<br>

<h2 id="amiibo">Amiibo</h2>

<p>It returns information of all amiibos or specific amiibo as a list.</p>

<h3>GET /api/amiibo/</h3>

<p>Return a list of amiibo available in the API.</p>

<h3>GET /api/amiibo/?name=value</h3>

<p>Return the amiibo information base on it's name.</p>

<h3>GET /api/amiibo/?id=value</h3>

<p>Return the amiibo information base on it's id.</p>

<h3>GET /api/amiibo/?name=value&type=value</h3>

<p>Multiple filter is also possible.</p>
<div><b>E.g.</b></div>
<div>Head only: <code>/api/amiibo/?head=01010000</code></div>
<div>Tail only: <code>/api/amiibo/?tail=000e0002</code></div>
<div>Head + Tail: <code>/api/amiibo/?id=01010000000e0002</code></div>
<pre>
{
    "amiibo": [
        {
            "amiiboSeries": "Legend Of Zelda",
            "character": "Zelda",
            "gameSeries": "The Legend of Zelda",
            "head": "01010000",
            "image": "https://raw.githubusercontent.com/N3evin/AmiiboAPI/master/images/icon_01010000-03520902.png",
            "name": "Toon Zelda - The Wind Waker",
            "release": {
                "au": "2016-12-03",
                "eu": "2016-12-02",
                "jp": "2016-12-01",
                "na": "2016-12-02"
            },
            "tail": "03520902",
            "type": "Figure"
        },
        {
            "amiiboSeries": "Super Smash Bros.",
            "character": "Zelda",
            "gameSeries": "The Legend of Zelda",
            "head": "01010000",
            "image": "https://raw.githubusercontent.com/N3evin/AmiiboAPI/master/images/icon_01010000-000e0002.png",
            "name": "Zelda",
            "release": {
                "au": "2014-12-12",
                "eu": "2014-12-19",
                "jp": "2014-12-06",
                "na": "2014-12-14"
            },
            "tail": "000e0002",
            "type": "Figure"
        },
        {
            "amiiboSeries": "Legend Of Zelda",
            "character": "Zelda",
            "gameSeries": "The Legend of Zelda",
            "head": "01010000",
            "image": "https://raw.githubusercontent.com/N3evin/AmiiboAPI/master/images/icon_01010000-03560902.png",
            "name": "Zelda",
            "release": {
                "au": "2017-03-03",
                "eu": "2017-03-03",
                "jp": "2017-03-03",
                "na": "2017-03-03"
            },
            "tail": "03560902",
            "type": "Figure"
        }
    ]
}
    </pre>

<h4>Amiibo</h4>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>amiiboSeries</td>
            <td>The series the amiibo belongs to.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>character</td>
            <td>The character of the amiibo, multiple character have different amiibo design.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>gameSeries</td>
            <td>The game series of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>head</td>
            <td>The 1st 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 0-7 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>image</td>
            <td>The image link of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>name</td>
            <td>The name of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>release</td>
            <td>
                The release date for North America, Japan, Europe and Australia <br>
                <b>Date Format: </b>yyyy-mm-dd<br>
                <b>Warning:</b> If date is not available, it will return as <code>null</code>
            </td>
            <br>
            <td><b>Note:</b> If date is not available, it will return as <code>null</code></td>
            <td>json</td>
        </tr>
        <tr>
            <td>tail</td>
            <td>The next 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 8-15 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>type</td>
            <td>The type it belongs to. Example: card, figure and yarn</td>
            <td>string</td>
        </tr>
    </tbody>
</table>


<h2 id="amiiboType">Amiibo Type</h2>

<p>Get all the amiibo based on it's type as a list.</p>

<h3>GET /api/amiibo/?type=value</h3>

<p><strong>Note: </strong>value could be anything in the type database. <b>E.g.</b> <code>/api/amiibo/?type=0x02</code> or <code>/api/amiibo/?type=yarn</code></p>

<pre>
{
    "amiibo": [
        {
            "amiiboSeries": "Yoshi's Woolly World",
            "character": "Yoshi",
            "gameSeries": "Super Mario",
            "head": "00030102",
            "image": "https://raw.githubusercontent.com/N3evin/AmiiboAPI/master/images/icon_00030102-00410302.png",
            "name": "Green Yarn Yoshi",
            "release": {
                "au": "2015-06-25",
                "eu": "2015-06-26",
                "jp": "2015-07-16",
                "na": "2015-10-16"
            },
            "tail": "00410302",
            "type": "Yarn"
        },
    ...
]
}
    </pre>

<h4>Amiibo Type</h4>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>amiiboSeries</td>
            <td>The series the amiibo belongs to.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>character</td>
            <td>The character of the amiibo, multiple character have different amiibo design.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>gameSeries</td>
            <td>The game series of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>head</td>
            <td>The 1st 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 0-7 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>image</td>
            <td>The image link of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>name</td>
            <td>The name of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>release</td>
            <td>
                The release date for North America, Japan, Europe and Australia <br>
                <b>Date Format: </b>yyyy-mm-dd<br>
                <b>Warning:</b> If date is not available, it will return as <code>null</code>
            </td>
            <br>
            <td><b>Note:</b> If date is not available, it will return as <code>null</code></td>
            <td>json</td>
        </tr>
        <tr>
            <td>tail</td>
            <td>The next 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 8-15 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>type</td>
            <td>The type it belongs to. Example: card, figure and yarn</td>
            <td>string</td>
        </tr>
    </tbody>
</table>

<h2 id="amiiboGameSeries">Amiibo Game Series</h2>

<p>Get all the amiibo based on it's game series as a list.</p>

<h3>GET /api/amiibo/?gameseries=value</h3>

<p><strong>Note: </strong>value could be anything in the gameseries database. <b>E.g.</b> <code>/api/amiibo/?gameseries=0x22c</code> or <code>/api/amiibo/?gameseries=Chibi Robo</code></p>

<pre>
{
    "amiibo": [
        {
            "amiiboSeries": "Chibi-Robo!",
            "character": "Chibi-Robo",
            "gameSeries": "Chibi Robo",
            "head": "22c00000",
            "image": "https://raw.githubusercontent.com/N3evin/AmiiboAPI/master/images/icon_22c00000-003a0202.png",
            "name": "Chibi Robo",
            "release": {
                "au": "2015-11-07",
                "eu": "2015-11-06",
                "jp": "2015-10-08",
                "na": "2015-10-09"
            },
            "tail": "003a0202",
            "type": "Figure"
        }
    ]
}
    </pre>

<h4>Amiibo Game Series</h4>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>amiiboSeries</td>
            <td>The series the amiibo belongs to.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>character</td>
            <td>The character of the amiibo, multiple character have different amiibo design.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>gameSeries</td>
            <td>The game series of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>head</td>
            <td>The 1st 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 0-7 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>image</td>
            <td>The image link of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>name</td>
            <td>The name of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>release</td>
            <td>
                The release date for North America, Japan, Europe and Australia <br>
                <b>Date Format: </b>yyyy-mm-dd<br>
                <b>Warning:</b> If date is not available, it will return as <code>null</code>
            </td>
            <br>
            <td><b>Note:</b> If date is not available, it will return as <code>null</code></td>
            <td>json</td>
        </tr>
        <tr>
            <td>tail</td>
            <td>The next 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 8-15 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>type</td>
            <td>The type it belongs to. Example: card, figure and yarn</td>
            <td>string</td>
        </tr>
    </tbody>
</table>

<h2 id="amiiboSeries">Amiibo Series</h2>

<p>Get all the amiibo based on it's series as a list.</p>

<h3>GET /api/amiibo/?amiiboSeries=value</h3>

<p><strong>Note: </strong>value could be anything in the series database. <b>E.g.</b> <code>/api/amiibo/?amiiboSeries=0x10</code> or <code>/api/amiibo/?amiiboSeries=BoxBoy!</code></p>

<pre>
{
    "amiibo": [
        {
            "amiiboSeries": "BoxBoy!",
            "character": "Qbby",
            "gameSeries": "BoxBoy!",
            "head": "1f400000",
            "image": "https://raw.githubusercontent.com/N3evin/AmiiboAPI/master/images/icon_1f400000-035e1002.png",
            "name": "Qbby",
            "release": {
                "au": null,
                "eu": null,
                "jp": "2017-02-02",
                "na": null
            },
            "tail": "035e1002",
            "type": "Figure"
        }
    ]
}
    </pre>

<h4>Amiibo Series</h4>

<table>
    <thead>
        <tr>

            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>amiiboSeries</td>
            <td>The series the amiibo belongs to.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>character</td>
            <td>The character of the amiibo, multiple character have different amiibo design.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>gameSeries</td>
            <td>The game series of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>head</td>
            <td>The 1st 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 0-7 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>image</td>
            <td>The image link of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>name</td>
            <td>The name of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>release</td>
            <td>
                The release date for North America, Japan, Europe and Australia <br>
                <b>Date Format: </b>yyyy-mm-dd<br>
                <b>Warning:</b> If date is not available, it will return as <code>null</code>
            </td>
            <br>
            <td><b>Warning:</b> If date is not available, it will return as <code>null</code></td>
            <td>json</td>
        </tr>
        <tr>
            <td>tail</td>
            <td>The next 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 8-15 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>type</td>
            <td>The type it belongs to. Example: card, figure and yarn</td>
            <td>string</td>
        </tr>
    </tbody>
</table>

<h2 id="amiiboCharacter">Amiibo Character</h2>

<p>Get all the amiibo based on it's character as a list.</p>

<h3>GET /api/amiibo/?character=value</h3>

<p><strong>Note: </strong>value could be anything in the character database. <b>E.g.</b> <code>/api/amiibo/?character=0x1996</code> or <code>/api/amiibo/?character=Mewtwo</code></p>

<pre>
{
    "amiibo": [
        {
            "amiiboSeries": "Super Smash Bros.",
            "character": "Mewtwo",
            "gameSeries": "Pokemon",
            "head": "19960000",
            "image": "https://raw.githubusercontent.com/N3evin/AmiiboAPI/master/images/icon_19960000-023d0002.png",
            "name": "Mewtwo",
            "release": {
                "au": "2015-10-24",
                "eu": "2015-10-23",
                "jp": "2015-10-29",
                "na": "2015-11-13"
            },
            "tail": "023d0002",
            "type": "Figure"
        }
    ]
}
    </pre>

<h4>Amiibo Character</h4>

<table>
    <thead>
        <tr>

            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>amiiboSeries</td>
            <td>The series the amiibo belongs to.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>character</td>
            <td>The character of the amiibo, multiple character have different amiibo design.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>gameSeries</td>
            <td>The game series of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>head</td>
            <td>The 1st 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 0-7 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>image</td>
            <td>The image link of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>name</td>
            <td>The name of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>release</td>
            <td>
                The release date for North America, Japan, Europe and Australia <br>
                <b>Date Format: </b>yyyy-mm-dd<br>
                <b>Warning:</b> If date is not available, it will return as <code>null</code><br>
            </td>
            <td>
                <b>Warning:</b> If date is not available, it will return as <code>null</code>
            </td>
            <td>json</td>
        </tr>
        <tr>
            <td>tail</td>
            <td>The next 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 8-15 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>type</td>
            <td>The type it belongs to. Example: card, figure and yarn</td>
            <td>string</td>
        </tr>
    </tbody>
</table>

<hr>
<br>

<h2 id="showGames">Show Games</h2>

<p>Also returns the games the amiibo can be used in.</p>

<h3>GET /api/amiibo/?showgames</h3>

<p><strong>Note: </strong>can be added in combination with other filters. <b>E.g.</b> <code>/api/amiibo/?character=0x1996&amp;showgames</code> or <code>/api/amiibo/?character=Mewtwo&amp;showgames</code></p>

<pre>
{
  "amiibo": [
    {
      "amiiboSeries": "Super Smash Bros.", 
      "character": "Mewtwo", 
      "gameSeries": "Pokemon", 
      "games3DS": [
        {
          "gameID": [
            "0004000000189600", 
            "0004000000183600", 
            "0004000000189800"
          ], 
          "gameName": "Kirby: Planet Robobot"
        }, 
        {
          "gameID": [
            "00040000000EE000", 
            "00040000000EDF00"
          ], 
          "gameName": "Super Smash Bros. for Nintendo 3DS"
        }
      ], 
      "gamesSwitch": [
        {
          "gameID": [
            "01006A800016E000"
          ], 
          "gameName": "Super Smash Bros. Ultimate"
        }
      ], 
      "gamesWiiU": [
        {
          "gameID": [
            "000500001018DD00", 
            "000500001018DC00", 
            "000500001018DB00"
          ], 
          "gameName": "Super Mario Maker"
        }, 
        {
          "gameID": [
            "0005000010145000", 
            "0005000010144F00", 
            "0005000010110E00"
          ], 
          "gameName": "Super Smash Bros. for Wii U"
        }
      ], 
      "head": "19960000", 
      "image": "https://raw.githubusercontent.com/N3evin/AmiiboAPI/master/images/icon_19960000-023d0002.png", 
      "name": "Mewtwo", 
      "release": {
        "au": "2015-10-24", 
        "eu": "2015-10-23", 
        "jp": "2015-10-29", 
        "na": "2015-11-13"
      }, 
      "tail": "023d0002", 
      "type": "Figure"
    }
  ]
}
    </pre>

<h4>Show Games</h4>

<table>
    <thead>
        <tr>

            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>amiiboSeries</td>
            <td>The series the amiibo belongs to.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>character</td>
            <td>The character of the amiibo, multiple character have different amiibo design.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>gameSeries</td>
            <td>The game series of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>games3DS</td>
            <td>List of 3DS games it can be used in.</td>
            <td>Array of gameID's and name as string</td>
            <td>json</td>
        </tr>
        <tr>
            <td>gamesSwitch</td>
            <td>List of Switch games it can be used in.</td>
            <td>Array of gameID's and name as string</td>
            <td>json</td>
        </tr>
        <tr>
            <td>gamesWiiU</td>
            <td>List of Wii U games it can be used in.</td>
            <td>Array of gameID's and name as string</td>
            <td>json</td>
        </tr>
        <tr>
            <td>head</td>
            <td>The 1st 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 0-7 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>image</td>
            <td>The image link of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>name</td>
            <td>The name of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>release</td>
            <td>
                The release date for North America, Japan, Europe and Australia <br>
                <b>Date Format: </b>yyyy-mm-dd<br>
                <b>Warning:</b> If date is not available, it will return as <code>null</code><br>
            </td>
            <td>
                <b>Warning:</b> If date is not available, it will return as <code>null</code>
            </td>
            <td>json</td>
        </tr>
        <tr>
            <td>tail</td>
            <td>The next 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 8-15 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>type</td>
            <td>The type it belongs to. Example: card, figure and yarn</td>
            <td>string</td>
        </tr>
    </tbody>
</table>

<h2 id="showUsage">Show Usage</h2>

<p>Also returns the games the amiibo can be used in and how it's used in the game.</p>

<h3>GET /api/amiibo/?showusage</h3>

<p><strong>Note: </strong>can be added in combination with other filters. <b>E.g.</b> <code>/api/amiibo/?character=0x1996&amp;showusage</code> or <code>/api/amiibo/?character=Mewtwo&amp;showusage</code></p>

<pre>
{
  "amiibo": [
    {
      "amiiboSeries": "Super Smash Bros.", 
      "character": "Mewtwo", 
      "gameSeries": "Pokemon", 
      "games3DS": [
        {
          "amiiboUsage": [
            {
              "Usage": "Give Kirby a Copy ability based on the character's abilities and a health item", 
              "write": false
            }
          ], 
          "gameID": [
            "0004000000189600", 
            "0004000000183600", 
            "0004000000189800"
          ], 
          "gameName": "Kirby: Planet Robobot"
        }, 
        {
          "amiiboUsage": [
            {
              "Usage": "Battle and train up a computer-controlled Figure Player of the character", 
              "write": true
            }
          ], 
          "gameID": [
            "00040000000EE000", 
            "00040000000EDF00"
          ], 
          "gameName": "Super Smash Bros. for Nintendo 3DS"
        }
      ], 
      "gamesSwitch": [
        {
          "amiiboUsage": [
            {
              "Usage": "Battle and train up a computer-controlled Figure Player of the character", 
              "write": true
            }
          ], 
          "gameID": [
            "01006A800016E000"
          ], 
          "gameName": "Super Smash Bros. Ultimate"
        }
      ], 
      "gamesWiiU": [
        {
          "amiiboUsage": [
            {
              "Usage": "Unlock a character-based Mystery Mushroom costume", 
              "write": false
            }
          ], 
          "gameID": [
            "000500001018DD00", 
            "000500001018DC00", 
            "000500001018DB00"
          ], 
          "gameName": "Super Mario Maker"
        }, 
        {
          "amiiboUsage": [
            {
              "Usage": "Battle and train up a computer-controlled Figure Player of the character", 
              "write": true
            }
          ], 
          "gameID": [
            "0005000010145000", 
            "0005000010144F00", 
            "0005000010110E00"
          ], 
          "gameName": "Super Smash Bros. for Wii U"
        }
      ], 
      "head": "19960000", 
      "image": "https://raw.githubusercontent.com/N3evin/AmiiboAPI/master/images/icon_19960000-023d0002.png", 
      "name": "Mewtwo", 
      "release": {
        "au": "2015-10-24", 
        "eu": "2015-10-23", 
        "jp": "2015-10-29", 
        "na": "2015-11-13"
      }, 
      "tail": "023d0002", 
      "type": "Figure"
    }
  ]
}
    </pre>

<h4>Show Usage</h4>

<table>
    <thead>
        <tr>

            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>amiiboSeries</td>
            <td>The series the amiibo belongs to.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>character</td>
            <td>The character of the amiibo, multiple character have different amiibo design.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>gameSeries</td>
            <td>The game series of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>games3DS</td>
            <td>List of 3DS games it can be used in.</td>
            <td>Array of gameID's, array of uses and name as string</td>
            <td>json</td>
        </tr>
        <tr>
            <td>gamesSwitch</td>
            <td>List of Switch games it can be used in.</td>
            <td>Array of gameID's, array of uses and name as string</td>
            <td>json</td>
        </tr>
        <tr>
            <td>gamesWiiU</td>
            <td>List of Wii U games it can be used in.</td>
            <td>Array of gameID's, array of uses and name as string</td>
            <td>json</td>
        </tr>
        <tr>
            <td>head</td>
            <td>The 1st 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 0-7 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>image</td>
            <td>The image link of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>name</td>
            <td>The name of the amiibo.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>release</td>
            <td>
                The release date for North America, Japan, Europe and Australia <br>
                <b>Date Format: </b>yyyy-mm-dd<br>
                <b>Warning:</b> If date is not available, it will return as <code>null</code><br>
            </td>
            <td>
                <b>Warning:</b> If date is not available, it will return as <code>null</code>
            </td>
            <td>json</td>
        </tr>
        <tr>
            <td>tail</td>
            <td>The next 8 value of the hexadecimal to recognize the amiibo.<br><b>Note:</b> 8-15 value in the hexadecimal</td>
            <td>string</td>
        </tr>
        <tr>
            <td>type</td>
            <td>The type it belongs to. Example: card, figure and yarn</td>
            <td>string</td>
        </tr>
    </tbody>
</table>

<hr>
<br>

<h2 id="type">Type</h2>

<p>Get all the amiibo's type available in the database as a list.</p>


<h3>GET /api/type</h3>

<pre>
{
    "amiibo": [
        {
            "key": "0x00",
            "name": "Figure"
        },
        {
            "key": "0x01",
            "name": "Card"
        },
        {
            "key": "0x02",
            "name": "Yarn"
        }
    ]
}
    </pre>

<h3>GET /api/type/?key=value</h3>

<p>Get type by it's id</p>

<p><b>E.g.</b> <code>/api/type/?key=0x01</code></p>

<pre style="min-height: initial;">
{
    "amiibo": {
        "key": "0x01",
        "name": "Card"
    }
}
    </pre>

<h3>GET /api/type/?name=value</h3>

<p>Get type by it's name</p>

<p><b>E.g.</b> <code>/api/type/?name=card</code></p>

<pre style="min-height: initial;">
{
    "amiibo": [
        {
            "key": "0x01",
            "name": "Card"
        }
    ]
}
    </pre>

<h4>Type</h4>

<table>
    <thead>
        <tr>

            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>key</td>
            <td>The key of the character.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>name</td>
            <td>Character name of the amiibo</td>
            <td>string</td>
        </tr>
    </tbody>
</table>

<h2 id="gameSeries">Game Series</h2>

<p>Retrieve game series information. <strong>Warning:</strong> Not all data return a list, do read about it.</p>


<h3>GET /api/gameseries</h3>

<p>Get all the amiibo's game series available in the database as a list.</p>

<pre>
{
    "amiibo": [
        {
            "key": "0x000",
            "name": "Super Mario"
        },
        {
            "key": "0x008",
            "name": "Yoshi's Woolly World"
        },
        ...
    ]
}
    </pre>

<h4>Game Series</h4>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>key</td>
            <td>The key of the character.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>name</td>
            <td>Character name of the amiibo</td>
            <td>string</td>
        </tr>
    </tbody>
</table>

<h3>GET /api/gameseries/?key=value</h3>

<p>It just return the game series that the key belongs to, since 1 key only belongs to 1 game series</p>
<p><b>E.g.</b> <code>/api/gameseries/?key=0x320</code></p>

<pre style="min-height: initial;">
{
    "amiibo": {
        "key": "0x320",
        "name": "Sonic"
    }
}
    </pre>

<h3>GET /api/gameseries/?name=value</h3>

<p>It return a list of keys available for the game series.</p>
<p><b>E.g.</b> <code>/api/gameseries/?name=pokemon</code></p>

<pre>
{
    "amiibo": [
        {
            "key": "0x1a4",
            "name": "Pokemon"
        },
        {
            "key": "0x190",
            "name": "Pokemon"
        },
        ...
    ]
}
    </pre>

<h2 id="series">Series</h2>

<p>Get all the amiibo's series available in the database as a list.</p>

<h3>GET /api/amiiboseries</h3>

<pre>
{
    "amiibo": [
        {
            "key": "0x06",
            "name": "8-bit Mario"
        },
        {
            "key": "0x05",
            "name": "Animal Crossing"
        },
        ...
    ]
}
    </pre>

<h3>GET /api/amiiboseries/?key=value</h3>

<p>Get the amiibo series by it's key</p>

<p><b>E.g.</b><code>/api/amiiboseries/?key=0x07</code></p>

<pre style="min-height: initial;">
{
    "amiibo": {
        "key": "0x07",
        "name": "Skylanders"
    }
}
    </pre>

<h3>GET /api/amiiboseries/?name=value</h3>

<p>Get the amiibo series by it's name</p>

<p><b>E.g.</b><code>/api/amiiboseries/?name=Skylanders</code></p>

<pre style="min-height: initial;">
{
    "amiibo": [
        {
            "key": "0x07",
            "name": "Skylanders"
        }
    ]
}
    </pre>

<h4>Series</h4>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>key</td>
            <td>The key of the character.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>name</td>
            <td>Character name of the amiibo</td>
            <td>string</td>
        </tr>
    </tbody>
</table>

<h2 id="character">Character</h2>

<p>Get all the character available in the database as a list.</p>


<h3>GET /api/character</h3>

<pre>
{
    "amiibo": [
        {
            "key": "0x0233",
            "name": "Admiral"
        },
        {
            "key": "0x04e2",
            "name": "Agent S"
        },
        ...
    ]
}
    </pre>

<h3>GET /api/character/?key=value</h3>

<p>Get the character by it's key</p>

<p><b>E.g.</b> <code>/api/character/?key=0x1996</code></p>

<pre style="min-height: initial;">
{
    "amiibo": {
        "key": "0x1996",
        "name": "Mewtwo"
    }
}
    </pre>

<h3>GET /api/character/?name=value</h3>

<p>Get the character by it's name</p>

<p><b>E.g.</b> <code>/api/character/?name=mewtwo</code></p>

<pre style="min-height: initial;">
{
    "amiibo": [
        {
            "key": "0x1996",
            "name": "Mewtwo"
        }
    ]
}
    </pre>

<h4>Character</h4>

<table>
    <thead>
        <tr>

            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>key</td>
            <td>The key of the character.</td>
            <td>string</td>
        </tr>
        <tr>
            <td>name</td>
            <td>Character name of the amiibo</td>
            <td>string</td>
        </tr>
    </tbody>
</table>

<hr>
<br>

<h2 id="lastUpdated">Last Updated</h2>

<p>Get the timestamp where the amiibo data was last updated.</p>

<h3>GET /api/lastupdated</h3>

<pre>
{
    "lastUpdated": "2019-03-18T16:34:10.688417"
}
    </pre>

<h4>Last Updated</h4>

<table>
    <thead>
        <tr>

            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>lastUpdated</td>
            <td>The timestamp of where the amiibo database was last updated.</td>
            <td>timestamp (iso format)</td>
        </tr>
    </tbody>
</table>

{% endblock %}
