{% extends "base.html" %}
{% block mainbody %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <iframe src="https://ghbtns.com/github-btn.html?user=n3evin&repo=amiiboapi&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">FAQs</a></li>
                <li><a href="/docs/">Documentation</a></li>
            </ul>
        </div>
    </div>
</div>

<section id="faq">
    <div class="header">
        <h1>Frequently Asked Questions</h1>
        <h4>Select the question to view the answer.</h4>
    </div>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                        What is an amiibo?
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    A Nintendo collectable figures that can be use to store data via NFC reader on certain Nintendo devices.
                    <br />
                    For more information: <a href="http://www.nintendo.com/amiibo/">Official Amiibo Site</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What's the API build upon?
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                    <ul>
                        <li>The web framwork was build wtih <a href="http://flask.pocoo.org/">flask</a> with <a href="https://www.python.org/">python</a></li>
                        <li>The database was stored using <a href="http://www.json.org/">JSON</a></li>
                        <li>We are hosted on <a href="https://www.namecheap.com/">namecheap</a></li>
                        <li>The source code are available at <a href="https://github.com/N3evin/AmiiboAPI">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Can I contribute?
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block">
                    You are welcome to contribute into the API
                    <ul>
                        <li>Fork the project over at the <a href="https://github.com/N3evin/AmiiboAPI">GitHub</a></li>
                        <li>Create a new branch for your contribution</li>
                        <li>Work your magic on the new branch</li>
                        <li>Commit and push your code up to GitHub</li>
                        <li>Open a pull request and describte what changes you have made</li>
                        <li>We will then review and accept your request if it is verified</li>
                        <li>Do write up some test to prove that it work. We will not accept it does not pass the test if new features are added.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        I found a bug!
                    </a>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-block">
                    Feel free to submit an issue over at our <a href="https://github.com/N3evin/AmiiboAPI">GitHub</a>.
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingFive">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    I have an idea!
                </a>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="card-block">
                Feel free to submit an idea in the issues section over at our <a href="https://github.com/N3evin/AmiiboAPI">GitHub</a>.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingSix">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Who created this?
                </a>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="card-block">
                An amiibo database was created using <a href="https://docs.google.com/spreadsheets/d/19E7pMhKN6x583uB6bWVBeaTMyBPtEAC-Bk59Y6cfgxA">google spreadsheet</a> on
                14th November 2016. <a href="https://github.com/N3evin">N3evin</a> and <a href="https://github.com/cheatfreak47">cheatfreak47</a> decided to develop this API to provide
                a centralize database that could be used by variety of systems which are always up to date.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingSeven">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSix">
                    Who uses us?
                </a>
            </h5>
        </div>
        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="card-block">
                <ul>
                    <li><a href="https://github.com/AcK77/AmiiBomb-uino/">Amiibomb</a></li>
                    <li><a href="https://github.com/Xerxes3rd/Wifiibo">Wifiibo</a></li>
                    <li><a href="https://github.com/HiddenRamblings/TagMo">TagMo</a></li>
                    <li><a href="https://ryujinx.org/">Ryujinx</a></li>
                    <li><a href="https://amiibo-time.web.app/">Amiibo Time</a></li>
                    <li><a href="https://amiibo-finder.netlify.app/">Amiibo Finder</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}
